// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
* {
    margin: 0px;
    padding: 0px;
}


body    {
    font-family: calibri;
}

.mainContainerBox   {
    background: #e1e1e1 url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0.1px;
}

.container {
    margin: 0px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.7);
    width: calc(100% - 240px);
    transition: box-shadow 0.5s;
    padding: 0px 100px 50px 100px;
    z-index: 0;
    min-height: calc(100vh - 70px);
}

.container:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.searchBox {
    width: 70%;
    margin: 0px auto;
    margin-top: 20px;
}

.searchBox {
    input {
        background: transparent;
    }
}

.trendyHeading {
    font-size: 52px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}

.searchInput {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    z-index: 2;
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border 0.3s;
    transition-timing-function: ease-out;
}

label {
    position: absolute;
    left: 295px;
    cursor: text;
    font-size: 15px;
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: margin 0.2s, font-size 0.3s, color 0.2s;
    transition-timing-function: none ease-in-out;
}

.searchInput:focus ~ label {
    margin-top: -50px;
    margin-left: -20px;
    color: #009688;
    font-size: 17px;
}

.bottomSearch {
    height: 1px;
}

.searchInput:focus {
    border-bottom: 2px solid #009688;
}

.searchInput:not(:focus) {}

.innerContainer {
    margin: 0px auto;
    margin-top: 80px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quote {
    text-align: center;
    margin-top: 50px;
}

.quoteQuote {
    width: 60%;
    margin: 0px auto;
    font-style: italic;
    color: #889;
}

#graph-canvas {
    box-shadow: 0px 1px 2px #888;
    left: 310px;
    position: relative;
    display: none;
}

.photo {
    -webkit-transform: scale3d(1, 1, 1);
    width: 50px;
    height: 100px;
    display: block;
    box-shadow: 0px 1px 2px #999;
    position: absolute;
    background: red;
    left: calc(100% - 100px);
    outline: none;
}

.aboutButton {
    cursor: pointer;
}

.aboutClass {
    color: white;
    margin-left: 5px;
    line-height: 100px;
}

.pill {
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -56px;
    margin-top: -12px;
    width: 100px;
    color: #fff;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    cursor: default;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.photo.down .pill {
    opacity: 0;
}
